doctype
html(lang="zh-CN")
	head
		include head

	body
		.main
			include nav
		if (page.category == "spotlight")
			include sidebar-spotlight
		if (page.category == "gadgets")
			include sidebar-gadgets	
		if (!(page.category == "gadgets" || page.category == "spotlight"))
			include sidebar	
		
		block content

		script(src= url_for('js/jquery.js'))
		script(src= url_for('js/jquery-migrate-1.2.1.min.js'))
		script(src= url_for('js/jquery.appear.js'))
		script(src= url_for('js/ba.js'))
		script(src= url_for('js/ha.js'))
		script(src= url_for('js/ga.js'))
		script(async, src=url_for('//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js'))
		


