extends partial/layout

block site_title
	if (page.category == "Spotlight" || page.category == "spotlight")
		!= "《聚焦 (《科技聚变》出品）》 - " + config.title
	if (page.category == "Gadgets" || page.category == "gadgets")
		!= "《小玩意儿 (《科技聚变》出品）》 - " + config.title

	!= page.category + " - " + config.title

block content
	.autopagerize_page_element: .content
		- page.posts.each(function (item, index) {	
				if item.categories == page.category
					index--
					include mixins
				+make_post(item,  page.posts.length - index, false)
		- })
		include mixins