extends partial/layout
block content
	.autopagerize_page_element: .content
		- page.posts.each(function (item, index) {
			include mixins
			index--
			+make_post(item, page.posts.length - index, false)
		- })
		include mixins
